body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.order-button {
  color: #e8520f;
  border: 1px solid #e8520f;
  padding: 8px;
  background-color: transparent;
  border-radius: 2ch;
  transition-duration: 0.2s;
}

.order-button:hover {
  color: #fff;
  border: 1px solid #e8520f;
  padding: 8px;
  background-color: #e8520f;
  border-radius: 2ch;
}

.category-chip-inactive {
  border: 1px solid #e8520f;
  color: #e8520f;
  padding: 10px;
  background-color: transparent;
  border-radius: 3ch;
  font-weight: bold;
}
.category-chip-inactive:hover {
  color: white;
  background-color: #fb9a6d;
  border-color: white;
}
.category-chip-active {
  border: 1px solid #e8520f;
  color: white;
  padding: 10px;
  background-color: #e8520f;
  border-radius: 3ch;
  font-weight: bold;
}
.placeOrderBtn {
  border: 1px solid #e8520f;
  color: white;
  padding: 10px;
  background-color: #e8520f;
  border-radius: 3ch;
  font-weight: bold;
  width: 95%;
  margin: 10px;
}
